.container{
    display:flex;
    gap:1em;
    input{
        padding:10px;
        border-radius:15px;
        border:none;
        background-color:lightcyan;
        color:mediumvioletred;
    }
    input::placeholder{
        color:hotpink;
    }
    button{
        padding:10px;
        border-radius:15px;
        border:none;
        width:5rem;
        color:#f2f2f2;
        background:darkcyan
    }
}